<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPbnwDCarbBAZQVxY_z8R9NY-Rd5puwBg</string>
	<key>GCM_SENDER_ID</key>
	<string>58211583218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yukaClone</string>
	<key>PROJECT_ID</key>
	<string>food-scanner-f9169</string>
	<key>STORAGE_BUCKET</key>
	<string>food-scanner-f9169.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58211583218:ios:372e0f59a533dd6f767c6b</string>
</dict>
</plist>